certifi==2019.6.16
chardet==3.0.4
Click==7.0
dash
dash-core-components
dash-html-components
dash-renderer
dash-table
dask
decorator
Flask
Flask-Compress
gunicorn
html5lib==1.0.1
idna==2.8
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.10.1
jupyter-core==4.5.0
MarkupSafe==1.1.1
nbformat==4.4.0
numpy
pandas
plotly
pytz==2019.1
six==1.12.0
traitlets==4.3.2
Werkzeug==0.15.4
datetime
dash-bootstrap-components
